type project
id LoggerWrapper.FSharp
authors mvkra
description A library allowing you to wrap most logging libraries with a F# friendly API.
projectUrl https://github.com/mvkra/loggerwrapper-fsharp
include-pdbs true
tags logging fsharp